#heading {
    font-size: 60px;
    text-align: center;
}

#info-wrapper {
    display: flex;
}

#about-me {
    flex: 80;
    padding: 5%;
}

#fact-container {
  margin-top: 20px;
}

#personal-links {
    flex: 1;
    padding: 5%;
}

#link-wrapper {
    display: flex;
}

#linkedin {
    text-align: center;
    flex: 50%;
}

#github {
    text-align: center;
    flex: 1;
}

#my-projects {
    padding: 5%;
}

