:root {
  --background-color: #eae9e4;
  --box-color: #d3e0ce;
  --accent-color: #e7acaa;
  --text-color: #5b6564;
  --shadow-color: #9cb8a0;
}

.box {
  padding: 3%;
  background-color: var(--box-color);
  transition: ease transform 0.5s, ease box-shadow 0.5s;
}

.box:hover {
  box-shadow: 10px 10px var(--shadow-color);
  transform: translate(-5px, -5px);
}

.button {
  background-color: var(--accent-color);
  color: var(--box-color);
  border: 1.5px solid var(--accent-color);
  font-size: 16px;
  padding: 5px 10px;
  font-weight: 550;
  border-radius: 4px;
  transition: ease background-color 0.1s, ease color 0.1s;
}

.button:hover {
  background-color: var(--box-color);
  color: var(--accent-color);
}

#body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
}

#heading {
  font-size: 50px;
  text-align: center;
}

#top-wrapper {
  display: flex;
}

#about-me {
  flex: 4;
  margin: 1.5% 1.5% 1.5% 3%; /* top, right, bottom, left */
}

#personal-links {
  flex: 1;
  margin: 1.5% 3% 1.5% 1.5%; /* top, right, bottom, left */
  text-align: center;
}

#link-wrapper {
  width: 250px;
  display: inline-flex;
  margin-top: 5px;
}

#fun-fact-button {
  flex: 3;
  text-align: left;
}

#links {
  flex: 1;
  text-align: right;
}

#link {
  text-decoration: none;
}

#fact-container {
  margin-top: 20px;
}

#bottom-wrapper {
  display: flex;
}

#my-projects {
  margin: 1.5% 1.5% 3% 3%; /* top, right, bottom, left */
  flex: 1;
}

#riceapps-wrapper {
  display: flex;
}

#team-image {
  text-align: center;
}

#my-experiences {
  margin: 1.5% 3% 3% 1.5%; /* top, right, bottom, left */
  flex: 2;
}

.experience {
  display: none;
  animation-name: fade;
  animation-duration: 3s;
  padding-bottom: 10px;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#img {
  padding-right: 1.5%;
}

#description {
  padding-left: 1.5%;
  margin: 0 0 0 0;
}

#slideshow-buttons {
  display: flex;
}

#continue {
  display: none;
  margin-left: 10px;
}

#comment-section {
  margin: 0 3% 3% 3%;
  display: flex;
}

#comment-controls {
  flex: 1;
}

#comment-count {
  font-style: italic;
}

#comment-container {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3%;
}

.comment-box {
  margin: 1% 1% 1% 1%; /* top, right, bottom, left */
  padding: 1% 2% 1% 2%;
  display: inline-block;
  max-width: 30%;
  max-height: 30%;
  background-color: var(--background-color);
  transition: ease transform 0.5s, ease box-shadow 0.5s;
  position: relative;
}

.comment-box:hover {
  box-shadow: 10px 10px var(--shadow-color);
  transform: translate(-5px, -5px);
}

#comment-name {
  margin-bottom: 0;
}

#comment-date {
  margin-top: 0;
  font-size: 12px;
}

#comment-buttons {
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
}

.icon-button {
  font-size: 14px;
  padding: 3px 6px;
}
